.App {
  text-align: center; /*Centra todos los elementos de la aplicación*/
  max-width: 1200px;
  margin: 0 auto;
}

/*Customización del scroll bar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #264653;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  background: black;
}