.notFound {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.notFound h1 {
    font-size: 35px;
    letter-spacing: 5px;
    color: #2a9d8f;
    font-weight: bold;
}

.icon-NotFound {
    font-size: 300px;
    color: #1d3557;
    transition: 300ms all ease;
}
.icon-NotFound:hover {
    transform: scale(1.04);
}

.redirect-NotFound {
    font-size: 20px;
    letter-spacing: 2px;
    color: #7678ed;
    font-weight: bold;
    transition: 300ms all ease;
}
.redirect-NotFound:hover {
    color: #c1121f;
    font-size: 30px;
}