.containerHome {
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menuHome {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 30px;
    background: rgba(0, 0, 0, 0.8);
}
.buttonRset {
    width: 490px;
    height: 50px;
    border: none;
    background: #4c956c;
    border-radius: 5px;
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms all ease;
}
.buttonRset:hover {
    cursor: pointer;
    background: #2c6e49;
    transform: scale(1.02);
}


/*--------------------Cards--------------------*/
.containerCardHome1 {
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 220px 0 0 0;
}

.containerCards {
    /* border: 1px solid yellow; */
    grid-column: 1 / 2;
}
.container-CuisinesDiets {
    /* border: 1px solid teal; */
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 50px;
}
.containerCardHome {
    /* border: 1px solid green; */
    border-radius: 10px;
    width: 600px;
    height: 260px;
    margin: 0 0 20px 0;
    transition: 300ms;
}

.containerCardHome:hover{
    cursor: pointer;
    transform: translateY(-3%);
}


/*--------------------Botón Eliminar--------------------*/
.botonEliminar {
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background: #780000;
    transition: 300ms;
} 

.botonEliminar:hover {
    color: white;
    background: #0a0908;
    cursor: pointer;
}


/*--------------------Botones--------------------*/
.contenedorBotonesHome {
    /* border: 1px solid white; */
    margin: 0 50px;
    justify-content: space-between;
}

.botonCrearRecataHome {
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 490px;
    height: 50px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background: #2667ff;
    transition: 300ms;
}

.botonCrearRecataHome:hover {
    color: white;
    background: #1d3557;
    cursor: pointer;
}

.botonVolverLandingPage {
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 135px;
    height: 50px;
    margin: 20px 0 20px 5px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    background: #780000;
    grid-column: 2/3;
    transition: 300ms;
}

.botonVolverLandingPage:hover {
    color: white;
    background: #0a0908;
    cursor: pointer;
}

.prevNext {
    margin: 40px 0 0 0;
}

.prev, .next {
    color: #4f000b;
    font-size: 15px;    
    font-weight: bold;
    width: 60px;
    height: 45px;
    margin: 0 100px;
    border: none;
    border-radius: 5px;
    background: wheat;
    transition: 300ms;
}

.next:hover, .prev:hover {
    background: #4f000b;
}


@media screen and (max-width: 1000px) {
    .containerCardHome1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 800px) {
    .containerCardHome1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .contenedorBotonesHome {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


/* .mi-transicion-enter {
    opacity: 0;
}
  
.mi-transicion-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
  
.mi-transicion-exit {
    opacity: 1;
}
  
.mi-transicion-exit-active {
    opacity: 0;
    transition: opacity 300ms;
} */