.containerHome {
    /* border: 5px solid red; */
    min-height: 100vh;
    background: #F4F6F4;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*---------Filtros Reset y Ordenamiento---------*/
.firsFilter {
    /* border: 1px solid #edede9; */
    border-top: 1px solid #edede9;
    border-left: 1px solid #edede9;
    border-right: 1px solid #edede9;

    margin: -30px 0 0 0;
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.container-Reset {
    /* border: 1px solid green; */
    height: 100%;
    padding: 20px;
}
.container-ResetSearchCreate {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}
.buttonReset {
    width: 400px;
    height: 50px;
    border: none;
    background: #4c956c;
    border-radius: 5px;
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms all ease;
}
.buttonReset:hover {
    cursor: pointer;
    background: #2c6e49;
}

.botonCrearRecataHome {
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background: #2667ff;
    transition: 300ms;
}
.botonCrearRecataHome:hover {
    color: white;
    background: #1d3557;
    cursor: pointer;
}

/*--------------------Cards--------------------*/
.containerCardHome1 {
    /* border: 5px solid red; */
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0 0 0;
}

/*--------------------Botón Eliminar--------------------*/
.button-Delete {
    position: absolute;
    top: 200px;
    left: 20px;
    width: 150px;
    height: 40px;
    background: #197278;
    color: #f8f9fa;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    letter-spacing: 5px;
}
.button-Delete:hover {
    background: #003049;
    cursor: pointer;
}

/*--------------------Botones--------------------*/
.contenedorBotonesHome {
    /* border: 1px solid white; */
    margin: 0 50px;
    justify-content: space-between;
}


/*--------------------Media Query--------------------*/
@media screen and (max-width: 1000px) {
    .containerCardHome1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .containerCardHome1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 410px) {
    .firsFilter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .buttonReset {
        width: 300px;
        height: 50px;
        border-radius: 3px;
        font-size: 16px;
    }
    .botonCrearRecataHome {
        font-size: 16px;
        width: 300px;
        height: 50px;
        border-radius: 3px;
    }
}