.cuisine {
    border: 1px solid #edede9;
    width: 550px;
    background: white;
    color: white;
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
}
.cuisine h1 {
    letter-spacing: 2px;
    color: #457b9d;
    font-size: 35px;
}
.cuisine-Options {
    gap: 15px;
    display: flex;
}
.active2 {
    background: red;
    color: black;
}