.containerSearchbar {
    /* border: 1px solid #dce1de; */
    width: 400px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputSearchbar {
    height: 48px;
    width: 390px;
    padding: 0 0 0 10px;
    border: none;
    font-size: 22px;
}
.botonSearchbar {
    color: #212529;
    margin: 0 5px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
    background: transparent;
    transition: 300ms;
}


@media screen and (max-width: 410px) {
    .containerSearchbar {
        width: 300px;
    }
    .inputSearchbar {
        width: 260px;
    }
}