.landing {
    /* border: 1px solid red; */
    background-image: linear-gradient(rgba(16, 16, 16, 0.3), rgba(16, 16, 16, 0.3)),  url(../../assets/Fondo4.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.landing h1 {
    font-size: 100px;
    letter-spacing: 10px;
    color: #fcbf31;
    text-shadow: 3px 3px 6px #000000;
}
.landing-Paragraph {
    font-size: 25px;
    letter-spacing: 2px;
    color: #e9ecef;
    margin: 20px 0;
    text-shadow: 2px 2px 4px #000000;
}

.landing-ContainerSocialNetwork {
    /* border: 1px solid red; */
    gap: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    transition: 300ms all ease;
}
.landing-ContainerSocialNetwork a {
    color: #e9ecef;
}

.landing-LinkedinIn:hover {
    cursor: pointer;
    color: #0e76a8;
    transform: scale(1.3);
}
.landing-Twitter:hover {
    cursor: pointer;
    color: #6495Ed;
    transform: scale(1.3);
}
.landing-Github:hover {
    cursor: pointer;
    color: #c9510c;
    transform: scale(1.3);
}
.landing-Pinterest:hover {
    cursor: pointer;
    color: #E60023;
    transform: scale(1.3);
}
.landing-Paragraph__SocialNetwork {
    color: #e9ecef;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
}