.recipesCreate {
    background: #F4F6F4;
    color: #457b9d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.formularioCreateRecipes {
    /* border: 1px solid red; */
    width: 500px;
    margin: 10px auto;
    border-radius: 15px;
    background: #CCE2E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.tituloCreateRecipes {
    font-size: 50px;
    margin-bottom: 15px;
}

.containerInputsCreate {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ancholeyecda {
    border: 1px solid #edede9;
    border-radius: 5px;
    height: 90px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
}

.labelCreateRecipes {
    font-size: 20px;
    width: 200px;
    margin-right: -20px 10px 10px 10px;
}

.inputCreateRecipes {
    height: 30px;
    width: 300px;
    border-radius: 3px;
    border: none;
    padding: 0 0 0 5px;
}

.containerSelectDiets {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #edede9;
    border-radius: 5px;
    width: 400px;
}

.containerSelectDiets2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.containerInputSelect {
    height: 60px;
    width: 120px;
    margin: 10px 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #edede9;
    transition: 300ms;
}

.containerInputSelect:hover {
    background: #0f4c5c;
    color: #dee2e6;
    cursor: pointer;
}

.inputCheckboxSelectDiets {
    min-height: 20px;
    min-width: 20px;
    margin: 0 5px;
}

.inputCheckboxSelectDiets:hover {
    cursor: pointer;
}

/*----------Textarea Summary----------*/
.textareaSummary {
    height: 100px;
    width: 400px;
    border-radius: 3px;
    border: none;
    padding: 10px;
}

.inputCreateRecipesInstrucciones {
    height: 200px;
    width: 400px;
    text-align: start;
    border-radius: 3px;
    border: 1px solid wheat;
}

.buttonCreate {
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    background: #14213d;
    transition: 300ms;
}

.buttonCreate:hover {
    color: white;
    background: #0a0909;
    cursor: pointer;
}

.botonDesaprobadoCreate {
    color: #adb5bd;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 50px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    background: #e9ecef;
}

.danger{ 
    color: red;
}

.dangersummary {
    color: red;
}

.buttonGoBack {
    color: #f8f9fa;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 150px;
    margin: 30px auto 30px auto;
    border: none;
    border-radius: 5px;
    background: #457b9d;
    transition: 300ms;
}

.buttonGoBack:hover {
    color: #f8f9fa;
    background: #358f80;
    cursor: pointer;
}



/*---------------Resposive---------------*/


@media screen and (max-width: 800px) {
    .ancholeyecda {
        height: 100px;
        width: 470px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .labelCreateRecipes, .inputCreateRecipes {
        margin: 0 auto;
    }

    .formularioCreateRecipes {
        width: 470px;
    }

    .containerSummaryCreate, .containerInstruccionsCreate {
        width: 470px;
    }

    .inputSummaryCreateRecipes, .inputCreateRecipesInstrucciones {
        width: 470px;
    }
}

@media screen and (max-width: 500px) {
    .ancholeyecda {
        margin: 20px ;
        width: 315px;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .labelCreateRecipes, .inputCreateRecipes {
        margin: 0 auto;
    }

    .formularioCreateRecipes {
        width: 315px;
    }

    .containerSummaryCreate, .containerInstruccionsCreate {
        width: 315px;
    }

    .inputSummaryCreateRecipes, .inputCreateRecipesInstrucciones {
        width: 315px;
    }
}



.textareacuisine {
    width: 400px;
    height: 150px;
}